* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s ease !important;
}

body {
    background-color: #EEF9FF;
}

:root {
    --bg-color: #E4EDEC;
    --secondary: #F57E57;
    --light: #EEF9FF;
    --main: #5bd3c7;
    --main-hover: #ffbd59;
    --dark: #000;
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('/assets/fonts/Inter-Regular.otf') format('truetype');
    font-display: swap;
}

a {
    text-decoration: none;
}

/* Heading Tags */
h1,
h2,
.font-weight-bold {
    font-weight: 700;
}

h3,
h4,
.font-weight-semi-bold {
    font-weight: 600;
}

h5,
h6,
.font-weight-medium {
    font-weight: 500;
}

/* Heading Tags End */

/* Btn */
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-primary,
.btn-secondary {
    color: #FFFFFF;
}

.btn-primary:hover {
    background: var(--secondary);
    border-color: var(--secondary);
}

.btn-secondary:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 28px;
    height: 28px;
}

.btn-lg-square {
    width: 46px;
    height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

/* Btn End */

/* Loading */

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

/* Loading End */

.back-to-top {
    position: fixed;
    display: none;
    background-color: var(--main) !important;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.fa-arrow-up {
    color: var(--light) !important;
}

#banner,
#offer,
#network {
    padding: 50px 0;
}

#who-we,
#book-appoint {
    padding: 50px 0;
    /* background-color: var(--light); */
}

#service{
    padding: 100px 0;
}

.title {
    font-size: 4rem;
}

/* Navbar Start */

.navbar-nav li {
    margin-right: 15px;
}

.navbar-nav .nav-link {
    color: #333;
    font-size: 1.1rem;
    font-weight: 500;
}

.navbar-nav .nav-link:hover {
    color: var(--main);
}

.navbar-toggler {
    border-color: white;
}

.navbar-nav li:last-child {
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    background-color: var(--main);
    padding: 0px 6px;
    transition: 0.3s ease;
}

.navbar-nav li:last-child a {
    color: var(--light);
}

.navbar-nav li:last-child:hover {
    border-radius: 30px;
}

.navbar-nav li:last-child a:hover {
    color: var(--light);
}

.navbar-toggler-icon {
    color: var(--dark);
}

@media (max-width: 991.98px) {}

@media (max-width: 769px) {

    .navbar-nav {
        text-align: center;
    }
}

/* Navbar End */

@media (max-width: 991.98px) {}

/* Social Icons Start */

.social-icons {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
}

.icon {
    font-size: 28px;
    color: white;
    text-decoration: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.instagram {
    color: #C13584;
}

.instagram:hover {
    color: #C13584;
}

.linkedin {
    color: #0077B5;
}

.linkedin:hover {
    color: #0077B5;
}

.facebook {
    color: #1877F2;
}

.whatsapp {
    color: #25d366;
}

.icon:hover {
    transform: scale(1.1);
}

/* Social Icons End */

/* Banner Start */

.banner-bg,
#page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#typing-text {
    font-size: 6rem;
    line-height: 1.2;
    white-space: normal;
    overflow: hidden;
    display: inline-block;
}

.banner h3 {
    font-size: 1.8rem;
}

.text-blue {
    color: var(--main);
}

.banner div {
    margin-top: 30px;
}

.banner-btn {
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--light);
    background-color: var(--main);
    padding: 15px;
    transition: 0.3s ease;
}

.banner-btn:hover {
    color: var(--light);
    border-radius: 30px;
}

/* Neural nerve animation starts */
.neural-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    opacity: 0.5;
    object-fit: cover;
}

.neural-nerves {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    animation: moveNerves .9s linear infinite alternate;
}

@keyframes moveNerves {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

@media (max-width: 991.98px) {
    #typing-text {
        font-size: 5.5rem;
    }

    .banner h3 {
        font-size: 1.6rem;
    }
}

@media (max-width: 769px) {

    #banner,
    #offer {
        padding: 60px 0;
    }

    #who-we,
    #service {
        padding: 60px 0;
        background-color: var(--light);
    }

    .title {
        font-size: 3rem;
    }

    #typing-text {
        font-size: 5rem;
        margin: 0;
    }

    .banner h3 {
        font-size: 1.4rem;
        margin: 0;
    }

    .social-icons {
        position: absolute;
        left: 50%;
        bottom: 10px;
        transform: translate(-50%);
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}

@media (max-width: 500px) {

    .banner {
        height: 50vh;
    }

    #typing-text {
        font-size: 2.8rem;
    }

    .banner h3 {
        font-size: 18px;
    }

    .banner-btn {
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
        padding: 12px;
        transition: 0.3s ease;
    }
}

/* Banner end */

.who-title {
    margin-top: 15%;
}

@media (max-width: 991.98px) {
    .who-title {
        margin-top: 0%;
        text-align: center;
    }
}

@media (max-width: 500px) {
    .who-title {
        padding: 15px;
    }
}

/* offer start */

.cat-item div {
    background: #FFFFFF;
    border: 1px dashed rgba(2, 39, 35, 0.3);
    transition: .5s;
}

.cat-item div h6 {
    font-size: 1.5rem;
    color: var(--dark);
    font-weight: 700;
}

.cat-item div span {
    color: var(--dark);
    font-size: 3rem;
    font-weight: 800;
    /* background-color: var(--main); */

}

.offer-para {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.offer-img {
    max-width: 1000px;
    margin: 0 auto;
}

.offer-para {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.offer-img img {
    width: 100%;
    max-width: 1000px;
    opacity: 0.3;
}

@media (max-width: 768px) {
    .offer-para {
        width: 90%;
        font-size: 14px;
    }

    .offer-img img {
        max-width: 250px;
    }
}

/* Service Start */
.service-item {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .05);
}

.service-carousel .owl-nav .owl-next {
    position: absolute;
    top: 100px;
    right: -4%;
    display: flex;
}

.service-carousel .owl-nav .owl-prev {
    position: absolute;
    top: 100px;
    left: -5%;
    display: flex;
}

.service-carousel .owl-nav .owl-prev,
.service-carousel .owl-nav .owl-next {
    margin-left: 15px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border-radius: 55px;
    background-color: var(--main);
    box-shadow: 0 0 45px rgba(0, 0, 0, .1);
    font-size: 25px;
    transition: .5s;
}

.service-carousel .owl-nav .owl-prev:hover,
.service-carousel .owl-nav .owl-next:hover {
    background: var(--light);
    color: var(--main);
}

@media (max-width: 768px) {

    .service-carousel .owl-nav {
        display: none;
    }

    .service-carousel .owl-nav .owl-prev,
    .service-carousel .owl-nav .owl-next {
        margin: 0 7px;
        width: 30px;
        height: 30px;
        font-size: 18px;
    }
}

/* Service End */

/* Footer Start */

footer div {
    background-color: var();
}

.social-foot a {
    background-color: var(--light);
    color: var(--dark);
    padding: 6px 8px;
    border-radius: 4px;
}

@media (max-width: 500px) {


    .social-foot a {
        padding: 4px 6px;
    }
}


/* Footer End */

/* Appointment Page */

.banner-book {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    overflow: hidden;
}

.banner-book section {
    margin-bottom: 10%;
}

#typing-book {
    font-size: 6rem;
    line-height: 1.2;
    white-space: normal;
    overflow: hidden;
    display: inline-block;
}

@media (max-width: 991.98px) {
    #typing-book {
        font-size: 5.5rem;
    }
}

@media (max-width: 769px) {

    #typing-book {
        font-size: 5rem;
        margin: 0;
    }
}

@media (max-width: 500px) {

    #typing-book {
        font-size: 2.8rem;
    }
}

/* Form Starrt */

form {
    display: flex;
    flex-direction: column;
    /* width: 300px; */
    margin: 50px auto;
}

form label,
form input {
    margin: 5px 0;
}

form label span {
    color: #ff0000;
}

form input {
    padding: 10px 16px;
    outline: none;
    border: 1px solid var(--main);
}

.book-btn button {
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    border: none;
    color: var(--light);
    background-color: var(--main);
    padding: 6px 14px;
    transition: 0.3s ease;
}

.book-btn button:hover {
    border-radius: 30px;
}

/* Form End */