* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {} */

:root {
    --bg-color: #E4EDEC;
    --secondary: #F57E57;
    --light: #EEF9FF;
    --main: #5bd3c7;
    --main-hover: #ffbd59;
    --dark: #000;
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('/assets/fonts/Inter-Regular.otf') format('truetype');
    font-display: swap;
}

/* Heading Tags */
h1,
h2,
.font-weight-bold {
    font-size: 3.8rem !important;
    font-weight: 700 !important;
}

h3,
h4,
.font-weight-semi-bold {
    font-weight: 600 !important;
}

h5,
h6,
.font-weight-medium {
    font-weight: 500 !important;
}

/* Heading Tags End */

/* Btn */
.btn {
    font-family: 'Inter-Regular' !important;
    font-weight: 600;
    transition: .5s;
}

.btn-primary,
.btn-secondary {
    color: #FFFFFF;
}

.btn-primary:hover {
    background: var(--secondary);
    border-color: var(--secondary);
}

.btn-secondary:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 28px;
    height: 28px;
}

.btn-lg-square {
    width: 46px;
    height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

/* Btn End */

/* Loading */
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

/* Loading End */

.back-to-top {
    position: fixed;
    display: none;
    background-color: var(--main) !important;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.bi-arrow-up {
    color: var(--light) !important;
}
/* 
#banner {
    padding: 80px 0;
}

#who-we,
#offer {
    padding: 80px 0;
    background-color: var(--light);
} */

.navbar-light .navbar-nav .nav-link {
    padding: 35px 15px;
    font-size: 18px;
    font-weight: 500;
    color: var(--dark) !important;
    outline: none;
    transition: .5s;
}

.navbar-light div div div:last-child a:last-child {
    background-color: var(--main) !important;
    color: var(--light) !important;
    font-weight: 500;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 15px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--main-hover) !important;
}

@media (max-width: 991.98px) {

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
    }
}

#bg-back {
    position: relative;
}

#bg-back::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/banner/a23379956d634d4ecf0387a1d1d9ac82.jpeg) center / cover no-repeat;
    opacity: 0.1;
    /* Set opacity for the background image */
    z-index: -1;
    /* Keeps the image behind the content */
}

/* All Btn hover start */
.navbar-light div div div:last-child a:last-child:hover,
.banner-title a:hover {
    border-radius: 30px;
    transition: .5s;
    background-color: var(--main-hover) !important;
}

/* All Btn hover end */

/* Banner start */
.banner-title {
    padding-top: 5%;
}

.banner-title p {
    font-size: 1.2rem;
}

.banner-title a {
    background-color: var(--main) !important;
    color: var(--light) !important;
}

/* Banner end */

/* offer Swiper start */

html,
body {
    position: relative;
    height: 100%;
}

swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.offer-crd {
    background: linear-gradient(to bottom, #5BD3C7, #B6FC9F);
    width: 100%;
    height: 100%;
}

.offer-para {
    position: absolute; /* Ensure the element is positioned relative to its nearest positioned ancestor */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Move the element by 50% of its own width and height */
}

.offer-para h5 {
    font-size: 1.3rem;
}


@media (max-width: 991.98px) {

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
    }
}

/* offer Swiper end */